# Python cache files
__pycache__/
*.pyc

# Streamlit secrets file 
.streamlit/secrets.toml

# Ignore all content in the data/input directory...
data/input/*/*
# ...but DO NOT ignore the .gitkeep files inside, which preserves the folders
!data/input/*/.gitkeep

# Ignore all content in the data/output directory...
data/output/*/*
# ...but DO NOT ignore the .gitkeep files inside
!data/output/*/.gitkeep

# Environment folders
.venv/
venv/
env/